.analytics {
    padding: 40px 30px;
    background-color: $white;
    display: flex;
    &__aside {
        margin-right: 30px;
    }
}
@media (max-width: 980px) {
    .analytics {
        padding: 20px 10px;
        flex-direction: column;
        &__aside {
            margin-right: 0;
        }
    }
}