.page-cars {
    background-color: $white;
    padding: 35px 0;
    &__links {
        background-color: #f5f5f5;
        text-align: center;
        padding: 45px 0;
    }
    &__links-slogan {
        font-size: 18px;
        color: rgb(16, 16, 16);
        font-weight: bold;
        margin-bottom: 25px;
    }
    &__links-wrap {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
        border-bottom: 1px solid $accent;
    }
    &__link {
        display: inline-flex;
        padding: 20px 30px;
        align-items: center;
        justify-content: center;
        background-color: #3d3d3d;
        font-size: 22px;
        font-family: $Myriad;
        color: $white;
        text-shadow: 0px 4px 6.86px rgba(2, 12, 17, 0.25);
        min-width: 336px;
        border-radius: 15px;
    }
    &__link span {
        margin-right: 10px;
    }
    &__link + &__link {
        margin-left: 30px;
    }
    &__link-ES {
        width: 54px;
        height: 56px;
        background: url("../img/icon-ES.png") no-repeat center center;
    }
    &__link-USA {
        width: 51px;
        height: 33px;
        background: url("../img/icon-flag-USA.png") no-repeat center center;
    }
    &__table-text {
        max-width: 870px;
        text-align: center;
        margin: 0 auto;
    }
    &__table {
        background-color: $white;
        padding: 30px 0;
        border-radius: 0 0 10px 10px;
    }
    &__table-wrap {
        max-width: 850px;
        margin: 0 auto;
    }
}

@media (max-width: 880px) {
    .page-cars {
        &__links-wrap {
            flex-direction: column;
            align-items: center;
        }
        &__link + &__link {
            margin-left: 0;
            margin-top: 15px;
        }
        &__link {
            max-width: 340px;
            height: 80px;
        }
    }
}