.reviews {
    &__inner {
        background-color: #f5f5f5;
    }
    &__wrapper {
        padding: 0 80px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    &__item + &__item {
        margin-top: 20px;
    }
    &__item {
        background-color: $white;
        border-radius: 10px;
        padding: 30px;
        width: 100%;
        display: flex;
    }
    &__avatar-wrapper {
        width: 150px;
        margin-right: 20px;
    }
    &__avatar-image {
        max-width: 150px;
        margin-bottom: 20px;
    }
    &__date-text {
        margin: 0;
        font-size: 13px;
        color: rgb(128, 128, 128);
        font-style: italic;
        margin-bottom: 8px;
    }
    &__date-info-wrapper svg {
        width: 18px;
        height: 18px;
        fill: #ababab;
    }
    &__date-info {
        font-size: 16px;
        font-family: $Myriad;
        color: rgb(171, 171, 171);
    }
    &__content-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 18px;
        border-bottom: 1px solid #dfdfdf;
    }
    &__person-name {
        font-size: 22px;
        font-family: $Myriad;
        color: rgb(16, 16, 16);
        font-weight: 600;
        margin-bottom: 7px;
    }
    &__person-post {
        font-size: 18px;
        font-family: $Myriad;
        color: rgb(164, 164, 164);
        font-weight: 300;
    }
    &__content-middle {
        padding-bottom: 10px;
        margin-bottom: 25px;
        border-bottom: 1px solid #dfdfdf;
    }
    &__content-title {
        margin: 12px 0;
        font-size: 18px;
        font-family: $Myriad;
        color: rgb(16, 16, 16);
        line-height: 1.444;
        font-weight: 600;
    }
    &__content-bottom {
        display: flex;
        justify-content: space-between;
    }
    &__view-all svg {
        width: 30px;
        height: 20px;
        margin-right: 10px;
        fill: #dddddd;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__view-all {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-family: $Myriad;
        color: #dddddd;
        font-weight: 600;
        &:hover {
            color: $accent;
        }
        &:hover svg {
            fill: $accent;
        }
    }
    &__useful-wrapper {
        display: flex;
        align-items: center;

    }
    &__useful-text {
        font-size: 16px;
        font-family: $Myriad;
        color: rgb(96, 96, 96);
        margin-right: 15px;
        font-weight: 600;
    }
    &__useful-btn svg {
        width: 23px;
        height: 23px;
        fill: #dddddd;
    }
    &__useful-btn--active svg {
        fill: $accent;
        margin-right: 5px;
    }
    &__useful-count {
        color: rgb(187, 187, 187);
        font-weight: 600;
        &--active {
            color: $accent;
        }
    }
}