.share-after-article {
    padding: 15px 30px;
    border-radius: 10px;
    border: 2px solid #e6e6e6;
    display: flex;
    justify-content: space-between;
    & .article-single__content-aside-likes {
        border: none;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0;
        & .article-single__aside-like {
            margin-bottom: 0;
            margin-right: 10px;
            height: 24px;
            & svg {
                align-self: flex-start;
            }
        }
        & .article-single__aside-dislike {
            height: 24px;
            & svg {
                align-self: flex-end;
            }
        }
    }
}
@media (max-width: 630px) {
    .share-after-article {
        flex-direction: column;
        align-items: center;
    }
}